@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        
        <div class="top-row px-4">
            <span>UTC: @(DateTime.UtcNow.ToShortTimeString())</span>
           
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    protected override void OnInitialized()
    {
        var timer = new System.Timers.Timer();
        timer.Interval = 30 * 1000;
        timer.AutoReset = true;
        timer.Elapsed += (_,_) => StateHasChanged();
        timer.Start();
    }
}