@page "/FlightVisualizer"
@using GuiWebApp.Client.Services;
@inject MapService map
 
<h3>FlightVisualizer</h3>
<p>Hello Flight</p>
<p>New Hello</p>


<div class="form-group mb-2">
    <input class="form-control ml-2 mr-2" placeholder="latitude" @bind="Latitude" />
    <input class="form-control ml-2 mr-2" placeholder="longitude" @bind="Longitude" />
</div>
<button class="btn btn-primary mb-2" @onclick="addMarker"> Add point</button>



<div id="map" style="width:1000px; height:1000px">
   
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender){
            var coords = new List<List<double>>()
            {
                   new (){45.51, -122.68}, 
                   new (){37.77, -122.43},
                   new (){34.04, -118.2}
            };

            await map.CreateMap(55.676098, 12.568337, 14); // Starting Latitude, Longitude and Zoom for the map. This is set to Copenhagen.
            await map.AddPoint(52.5200, 13.4050);
            await map.CreatePath(coords, "red");
        }
    }

    public double Latitude { get; set; }
    public double Longitude { get; set; }

    private async Task addMarker()
    {
        await map.AddPoint(Latitude, Longitude);
    }

}
